numpy
pandas
streamlit ==1.13.0
pillow == 9.2.0
openpyxl
aggdraw
altair
attrs
Blinker
cachetools
certifi
charset-normalizar
click
colorama
commonmark
decorator
docopt
entrypoints
et-xmlfile
Flask
ghostscript
gitdb
GitPython
idna
imageio
importlib-metadata
itsdangerous
jinja2
jsonschema
lazy_loader
markupSafe
networkx
openpyxl
packaging
pip
protobuf
pds-tools
pyarrow
pydeck
pygments
pympler
pyparsing
pyrsistent
python-dateutil
